<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
		<link rel="stylesheet" href="/assets/burger_style.css">
	</head>
	<body>
		{{{ body }}}

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/burgers.js"></script>
	</body>
</html>